<!doctype html>
<html lang="en" ng-app="NarrowItDownApp">
  <head>
    <title>Narrow Down Your Menu Choice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/styles.css">


    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="src/menu/narrow.module.js"></script>
    <script src="src/menu/menusearch.service.js"></script>
    <script src="src/menu/narrow.controller.js"></script>
    <script src="src/founditems/founditems.component.js"></script>

  </head>
<body>
   <div class="container" ng-controller="NarrowItDownController as menu">
    <h1>Narrow Down Your Chinese Menu Choice</h1>
    <form ng-submit="menu.search(menu.searchTerm);" class="md-col-12">
      <div>
        <input type="text" placeholder="Search Term" class="form-control" ng-model="menu.searchTerm">
      </div>
      <div class="narrow-button">
        <button class="btn btn-primary" ng-click="menu.search(menu.searchTerm);">Narrow It Down For Me!</button>
      </div>
    </form>

    <!-- Bonus loader (see Bonus section of the assignment) -->
    <items-loader-indicator></items-loader-indicator>

    <!-- found-items should be implemented as a component -->
    <found-items found="menu.found" on-remove="menu.removeItem(index);" class="row"></found-items>
  </div>

</body>
</html>
