<!doctype html>
<html lang="en" ng-app="LunchCheck">
  <head>
    <title>Lunch Checker</title>
    <link href="favicon.ico" rel="icon" type="image/ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <!-- Adding scripts for JavaScript functionality -->
    <script src="https://code.angularjs.org/1.5.8/angular.min.js"></script>
    <script src="shared/app.js"></script>
  </head>
<body>
   <!-- Binding the lunch controller to the main div -->
   <div class="container" ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>
     <form ng-submit="mealCheck()"> <!-- Added a form tag so that hitting enter is equivalent to button press -->

         <div class="form-group">
             <!-- setting up input so that it takes text and has style that can be edited dynamically (for border color changes) -->
             <input id="lunch-menu" 
             type="text"
             placeholder="List comma separated dishes you usually have for lunch"
             class="form-control"
             ng-model="menu"
             ng-style="textboxStyle.style">
         </div>

         <div class="form-group">
              <!-- button bound to mealCheck function in the LunchCheckController -->
             <button class="btn btn-default" ng-click="mealCheck()">Check If Too Much</button>
         </div>
      </form>

      <!-- Adding ng-style so that text color can be changed dynamically via AngularJS app -->
      <div class="form-group message" ng-style="messageStyle.style">
         <!-- Your message can go here. -->
         {{ message }}
      </div>
   </div>

</body>
</html>
